*{
    background-color: #232440;
}
div{
    width: 300px;
    height: 250px;
    position: absolute;
    font-family: 'Iosevka Charon Mono', Times, serif;
    border-color: #8D00A9;
    background-color: #974783;
    border-radius: 50px;
}
p{
    width: 190px;
    height: 47px;
    position: absolute;
    background-color: #974783;
    font-size: 32px;
    top:auto;
    left: 75px;
}
button{
    width: 150px;
    height: 50px;
    position: absolute;
    font-size: 32px;
    background-color: #CC00D7;
    border-radius: 50px;
    border-color: #000000;
    top: 150px;
    left: 75px;
}
.div1{
    top: 50px;
    left: 50px;
}
.div2{
    top: 50px;
    left: 400px;
}
.div3{
    top: 50px;
    left: 750px;
}
.div4{
    top: 50px;
    left: 1100px;
}
.div5{
    top: 350px;
    left: 50px;
}
.div6{
    top: 350px;
    left: 400px;
}
.div7{
    top: 350px;
    left: 750px;
}
.div8{
    top: 350px;
    left: 1100px;
}
.div9{
    top: 650px;
    left: 50px;
}
.div10{
    top: 650px;
    left: 400px;
}
.div11{
    top: 650px;
    left: 750px;
}
.div12{
    top: 650px;
    left: 1100px;
}
.div13{
    top: 950px;
    left: 50px;
}
.Dongass{
    color: #232440;
    background-color: #232440;
    top: 950px;
    left: 350px;
}